extends ../../layouts/default.pug

block main
  h1 Danh sách sản phẩm

  table.table.table-bordered.table-hover.mt-3
    thead.thead-dark
      tr
        th(style="width: 60px") STT
        th(style="width: 120px") Hình ảnh
        th Tiêu đề
        th(style="width: 120px") Giá
        th(style="width: 120px") Trạng thái
        th(style="width: 140px") Hành động
    tbody
      //- Dữ liệu test
      each item, index in products 
        tr
          td #{index + 1}
          td
            img(src=item.image, style="width: 80px; height: 80px; object-fit: cover;")
          td #{item.title}
          td #{item.price}$
          td 
            if item.status === 'inactive'
              span.badge.badge-danger Dừng hoạt động
            else if item.status === 'active'
              span.badge.badge-success Hoạt động
          td
            a.btn.btn-sm.btn-primary(href="#") Sửa
            |  
            a.btn.btn-sm.btn-danger(href="#") Xóa
